<!DOCTYPE html>
<html lang="en">
	{% load django_vite %}
	{% load setting %}
	<head>
		{% vite_hmr_client %}
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="dark" />
		<title>ft_transcendence</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<script src="https://kit.fontawesome.com/80245b099a.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
		<script async src="https://js.stripe.com/v3/buy-button.js"></script>
	</head>
	<body class="overflow-x-hidden min-h-screen">
		<div id="app"></div>
		{% vite_asset "src/index.jsx" %}

		{% settings %}
			{% setting "CLIENT_ID" %}
			{% setting "HOST" %}
		{% endsettings %}
	</body>
</html>
