.vscode
db.sqlite3
*.sw*
__pycache__
node_modules
venv
.env
.pnpm-store
.initial_migration_done
.pg
pg.log
target
pkg
.static
assets/avatars
frontend/public
backend/bonk-server/pkg
backend/bonk-server/.godot
frontend/bonk-client
