asgiref==3.7.2
black==24.3.0
click==8.1.7
codespell==2.2.6
distlib==0.3.8
Django==4.2.11
django-vite==3.0.4
filelock==3.13.1
mypy_extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
sqlparse==0.4.4
typing_extensions==4.10.0
virtualenv==20.25.1
