asgiref==3.8.1
black==23.9.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
codespell==2.2.6
distlib==0.3.7
Django==5.0.4
django-vite==3.0.4
filelock==3.12.4
idna==3.6
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
psycopg2==2.9.9
requests==2.31.0
sqlparse==0.4.4
stripe==9.7.0
typing_extensions==4.11.0
urllib3==2.2.1
psycopg2==2.9.9
virtualenv==20.24.5
