@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	height: 100vh;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 2rem
}

.border-gradient {
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
	backdrop-filter: blur(40px);
}
.border-gradient:before {
	content: "";
	position: absolute;
	inset: 0;
	padding: 3px;
	border-radius: 4242px;
	background: linear-gradient(to bottom right, #F6EAFF, #DFD2F0, #CEBDE3, #D3B4FB);
	-webkit-mask: 
	   linear-gradient(#fff 0 0) content-box, 
	   linear-gradient(#fff 0 0);
			mask: 
	   linear-gradient(#fff 0 0) content-box,
	   linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
			mask-composite: exclude;
	pointer-events: none; 
}

.text-shadow {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}